@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core项目开发模板";
}
<!-- Page Header-->
@*<header class="page-header">
        <div class="container-fluid">
            <h6 class="no-margin-bottom">首页 -> 工具页面</h6>
        </div>
    </header>*@
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/personnel.png"></div>
                    <a href="#" title="随导航" target="_blank">
                        <div class="title"><span>sui.work</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/mail.png"></div>
                    <a href="#" title="邮箱" target="_blank">
                        <div class="title"><span>随手邮箱</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/app.png"></div>
                    <a href="#" title="随手云" target="_blank">
                        <div class="title"><span>随手云</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/hr.png"></div>
                    <a href="#" title="SHR" target="_blank">
                        <div class="title"><span>SHR</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/dict.png"></div>
                    <a href="#" title="员工服务平台" target="_blank">
                        <div class="title"><span>员工服务平台</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/hr1.png"></div>
                    <a href="#" title="周计划(绩效)" target="_blank">
                        <div class="title"><span>周计划(绩效)</span> </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

