@page
@model PrivacyModel
@{
    ViewData["Title"] = "隐私策略";
}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h6 class="no-margin-bottom">首页 -> 页面2</h6>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jira.png"></div>
                    <a href="#" title="Jira" target="_blank">
                        <div class="title"><span>Jira</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wendang.png"></div>
                    <a href="#" title="Confluence" target="_blank">
                        <div class="title"><span>Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/risk_confluence.png"></div>
                    <a href="#" title="风控Confluence" target="_blank">
                        <div class="title"><span>风控Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex alguanign-items-center">
                    <div><img height="40" class="lazyload" src="~/img/kaniu.png"></div>
                    <a href="#" title="卡牛官网" target="_blank">
                        <div class="title"><span>卡牛官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jindie.png"></div>
                    <a href="#" title="金蝶官网" target="_blank">
                        <div class="title"><span>金蝶官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/suishouji.png"></div>
                    <a href="#" title="随手云" target="_blank">
                        <div class="title"><span>随手记官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqmail.png"></div>
                    <a href="#" title="QQ邮箱" target="_blank">
                        <div class="title"><span>QQ邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wangyi.png"></div>
                    <a href="#" title="网易邮箱" target="_blank">
                        <div class="title"><span>网易邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/yunzhijia.png"></div>
                    <a href="#" title="云之家" target="_blank">
                        <div class="title"><span>云之家</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/dupan.png"></div>
                    <a href="#" title="百度网盘" target="_blank">
                        <div class="title"><span>百度网盘</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/peise.png"></div>
                    <a href="#" title="扁平化配色" target="_blank">
                        <div class="title"><span>扁平化配色</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/iconfont.png"></div>
                    <a href="#" title="iconfont" target="_blank">
                        <div class="title"><span>iconfont</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jira.png"></div>
                    <a href="#" title="Jira" target="_blank">
                        <div class="title"><span>Jira</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wendang.png"></div>
                    <a href="#" title="Confluence" target="_blank">
                        <div class="title"><span>Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/risk_confluence.png"></div>
                    <a href="#" title="风控Confluence" target="_blank">
                        <div class="title"><span>风控Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex alguanign-items-center">
                    <div><img height="40" class="lazyload" src="~/img/kaniu.png"></div>
                    <a href="#" title="卡牛官网" target="_blank">
                        <div class="title"><span>卡牛官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jindie.png"></div>
                    <a href="#" title="金蝶官网" target="_blank">
                        <div class="title"><span>金蝶官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/suishouji.png"></div>
                    <a href="#" title="随手云" target="_blank">
                        <div class="title"><span>随手记官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqmail.png"></div>
                    <a href="#" title="QQ邮箱" target="_blank">
                        <div class="title"><span>QQ邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wangyi.png"></div>
                    <a href="#" title="网易邮箱" target="_blank">
                        <div class="title"><span>网易邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/yunzhijia.png"></div>
                    <a href="#" title="云之家" target="_blank">
                        <div class="title"><span>云之家</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/dupan.png"></div>
                    <a href="#" title="百度网盘" target="_blank">
                        <div class="title"><span>百度网盘</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/peise.png"></div>
                    <a href="#" title="扁平化配色" target="_blank">
                        <div class="title"><span>扁平化配色</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/iconfont.png"></div>
                    <a href="#" title="iconfont" target="_blank">
                        <div class="title"><span>iconfont</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jira.png"></div>
                    <a href="#" title="Jira" target="_blank">
                        <div class="title"><span>Jira</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wendang.png"></div>
                    <a href="#" title="Confluence" target="_blank">
                        <div class="title"><span>Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/risk_confluence.png"></div>
                    <a href="#" title="风控Confluence" target="_blank">
                        <div class="title"><span>风控Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex alguanign-items-center">
                    <div><img height="40" class="lazyload" src="~/img/kaniu.png"></div>
                    <a href="#" title="卡牛官网" target="_blank">
                        <div class="title"><span>卡牛官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jindie.png"></div>
                    <a href="#" title="金蝶官网" target="_blank">
                        <div class="title"><span>金蝶官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/suishouji.png"></div>
                    <a href="#" title="随手云" target="_blank">
                        <div class="title"><span>随手记官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqmail.png"></div>
                    <a href="#" title="QQ邮箱" target="_blank">
                        <div class="title"><span>QQ邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wangyi.png"></div>
                    <a href="#" title="网易邮箱" target="_blank">
                        <div class="title"><span>网易邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/yunzhijia.png"></div>
                    <a href="#" title="云之家" target="_blank">
                        <div class="title"><span>云之家</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/dupan.png"></div>
                    <a href="#" title="百度网盘" target="_blank">
                        <div class="title"><span>百度网盘</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/peise.png"></div>
                    <a href="#" title="扁平化配色" target="_blank">
                        <div class="title"><span>扁平化配色</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/iconfont.png"></div>
                    <a href="#" title="iconfont" target="_blank">
                        <div class="title"><span>iconfont</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jira.png"></div>
                    <a href="#" title="Jira" target="_blank">
                        <div class="title"><span>Jira</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wendang.png"></div>
                    <a href="#" title="Confluence" target="_blank">
                        <div class="title"><span>Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/risk_confluence.png"></div>
                    <a href="#" title="风控Confluence" target="_blank">
                        <div class="title"><span>风控Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex alguanign-items-center">
                    <div><img height="40" class="lazyload" src="~/img/kaniu.png"></div>
                    <a href="#" title="卡牛官网" target="_blank">
                        <div class="title"><span>卡牛官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jindie.png"></div>
                    <a href="#" title="金蝶官网" target="_blank">
                        <div class="title"><span>金蝶官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/suishouji.png"></div>
                    <a href="#" title="随手云" target="_blank">
                        <div class="title"><span>随手记官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqmail.png"></div>
                    <a href="#" title="QQ邮箱" target="_blank">
                        <div class="title"><span>QQ邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wangyi.png"></div>
                    <a href="#" title="网易邮箱" target="_blank">
                        <div class="title"><span>网易邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/yunzhijia.png"></div>
                    <a href="#" title="云之家" target="_blank">
                        <div class="title"><span>云之家</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/dupan.png"></div>
                    <a href="#" title="百度网盘" target="_blank">
                        <div class="title"><span>百度网盘</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/peise.png"></div>
                    <a href="#" title="扁平化配色" target="_blank">
                        <div class="title"><span>扁平化配色</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/iconfont.png"></div>
                    <a href="#" title="iconfont" target="_blank">
                        <div class="title"><span>iconfont</span> </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

