@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core项目开发模板";
}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h6 class="no-margin-bottom">首页 -> 工具页面</h6>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/personnel.png"></div>
                    <a href="#" title="随导航" target="_blank">
                        <div class="title"><span>sui.work</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/mail.png"></div>
                    <a href="#" title="邮箱" target="_blank">
                        <div class="title"><span>随手邮箱</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/app.png"></div>
                    <a href="#" title="随手云" target="_blank">
                        <div class="title"><span>随手云</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/hr.png"></div>
                    <a href="#" title="SHR" target="_blank">
                        <div class="title"><span>SHR</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/dict.png"></div>
                    <a href="#" title="员工服务平台" target="_blank">
                        <div class="title"><span>员工服务平台</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/hr1.png"></div>
                    <a href="#" title="周计划(绩效)" target="_blank">
                        <div class="title"><span>周计划(绩效)</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jira.png"></div>
                    <a href="#" title="Jira" target="_blank">
                        <div class="title"><span>Jira</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wendang.png"></div>
                    <a href="#" title="Confluence" target="_blank">
                        <div class="title"><span>Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/risk_confluence.png"></div>
                    <a href="#" title="风控Confluence" target="_blank">
                        <div class="title"><span>风控Confluence</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex alguanign-items-center">
                    <div><img height="40" class="lazyload" src="~/img/kaniu.png"></div>
                    <a href="#" title="卡牛官网" target="_blank">
                        <div class="title"><span>卡牛官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/jindie.png"></div>
                    <a href="#" title="金蝶官网" target="_blank">
                        <div class="title"><span>金蝶官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/suishouji.png"></div>
                    <a href="#" title="随手云" target="_blank">
                        <div class="title"><span>随手记官网</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqmail.png"></div>
                    <a href="#" title="QQ邮箱" target="_blank">
                        <div class="title"><span>QQ邮箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wangyi.png"></div>
                    <a href="#" title="网易邮箱" target="_blank">
                        <div class="title"><span>网易邮箱</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/yunzhijia.png"></div>
                    <a href="#" title="云之家" target="_blank">
                        <div class="title"><span>云之家</span> </div>
                    </a>
                </div>
            </div>


            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/dupan.png"></div>
                    <a href="#" title="百度网盘" target="_blank">
                        <div class="title"><span>百度网盘</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/peise.png"></div>
                    <a href="#" title="扁平化配色" target="_blank">
                        <div class="title"><span>扁平化配色</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/iconfont.png"></div>
                    <a href="#" title="iconfont" target="_blank">
                        <div class="title"><span>iconfont</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/vue.png"></div>
                    <a href="#" title="Vue" target="_blank">
                        <div class="title"><span>Vue</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/cat.png"></div>
                    <a href="#" title="阿猫阿狗导航" target="_blank">
                        <div class="title"><span>阿猫阿狗导航</span> </div>
                    </a>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqditu.png"></div>
                    <a href="#" title="腾讯地图" target="_blank">
                        <div class="title"><span>腾讯地图</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/tool.png"></div>
                    <a href="#" title="程序员工具箱" target="_blank">
                        <div class="title"><span>程序员工具箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqyun.png"></div>
                    <a href="#" title="腾讯云" target="_blank">
                        <div class="title"><span>腾讯云</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/aliyun.png"></div>
                    <a href="#" title="阿里云" target="_blank">
                        <div class="title"><span>阿里云</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/aliopen.png"></div>
                    <a href="#" title="阿里开源镜像" target="_blank">
                        <div class="title"><span>阿里开源镜像</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/topen.png"></div>
                    <a href="#" title="腾讯开源镜像" target="_blank">
                        <div class="title"><span>腾讯开源镜像</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wandoujia.png"></div>
                    <a href="#" title="豌豆荚" target="_blank">
                        <div class="title"><span>豌豆荚</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/csv.png"></div>
                    <a href="#" title="json转csv" target="_blank">
                        <div class="title"><span>json转csv</span> </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
