@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core项目开发模板";
}
<!-- Page Header-->
@*<header class="page-header">
    <div class="container-fluid">
        <h6 class="no-margin-bottom">首页 -> 工具页面</h6>
    </div>
</header>*@
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/vue.png"></div>
                    <a href="#" title="Vue" target="_blank">
                        <div class="title"><span>Vue</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/cat.png"></div>
                    <a href="#" title="阿猫阿狗导航" target="_blank">
                        <div class="title"><span>阿猫阿狗导航</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqditu.png"></div>
                    <a href="#" title="腾讯地图" target="_blank">
                        <div class="title"><span>腾讯地图</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/tool.png"></div>
                    <a href="#" title="程序员工具箱" target="_blank">
                        <div class="title"><span>程序员工具箱</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/qqyun.png"></div>
                    <a href="#" title="腾讯云" target="_blank">
                        <div class="title"><span>腾讯云</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/aliyun.png"></div>
                    <a href="#" title="阿里云" target="_blank">
                        <div class="title"><span>阿里云</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/aliopen.png"></div>
                    <a href="#" title="阿里开源镜像" target="_blank">
                        <div class="title"><span>阿里开源镜像</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/topen.png"></div>
                    <a href="#" title="腾讯开源镜像" target="_blank">
                        <div class="title"><span>腾讯开源镜像</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/wandoujia.png"></div>
                    <a href="#" title="豌豆荚" target="_blank">
                        <div class="title"><span>豌豆荚</span> </div>
                    </a>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div><img height="40" class="lazyload" src="~/img/csv.png"></div>
                    <a href="#" title="json转csv" target="_blank">
                        <div class="title"><span>json转csv</span> </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
